@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    --blue: #1e9bff;
    --blue-dark: #1888e1;
    --green: #2ecc71;
    --green-dark: #14c210;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --primary: #1e9bff;
    --secondary: #495057;
    --light: #ced4da;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}

#signuplogo {
    position: relative;
    top: 40px;
    height: 100px;
    width: 100px;
    left: -8px;
}

#formDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formDetails input {
    margin: 15px;
    padding: 15px;
    width: 300px;
    font-size: 100%;
    border-radius: 5px;
}

#signupheader {
    margin-top: 80px;
}

a {
    margin: 20px;
}

#signupbutton {
    border-radius: 5px;
    border: none;
    background-color: var(--blue);
    padding: 15px 70px;
    font-size: 15px;
    font-weight: 500;
    margin: 10px;
}

#signupbutton:hover {
    transform: scale(1.05);
    background-color: var(--blue-dark);
}

#mailblank,
#passwordblank,
#nameblank {
    color: red;
    position: relative;
    left: -100px;
    display: none;
}

#passwordblank {
    color: red;
    position: relative;
    left: 15px;
    display: none;
}

#back {
    position: absolute;
    left: 20px;
    top: -5px;
    text-decoration: none;
    color: black;
}

#backicon {
    position: absolute;
    left: 22px;
    top: 17px;
}

.namespan,
.passwordspan,
.emailspan {
    color: red;
}